body {
     background: #ffffff; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(white, white, gray); /* Safari 5.1 to 6.0 */
  background: -moz-radial-gradient(white, white, gray); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, white, gray);  /* Standard syntax */
  height:100%;
  width:100%;

}
